<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gait.gtgame" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GT爱游戏</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />

<icon src="platforms/android/res/drawable-ldpi/icon.png" density="ldpi" />
<icon src="platforms/android/res/drawable-mdpi/icon.png" density="mdpi" />
<icon src="platforms/android/res/drawable-hdpi/icon.png" density="hdpi" />
<icon src="platforms/android/res/drawable-xhdpi/icon.png" density="xhdpi" />
<icon src="platforms/android/res/drawable-xxhdpi/icon.png" density="xxhdpi" />



</widget>
